contacto.dtd

<!ENTITY % datosDir "(calle,cp,ciudad)">
<!ENTITY % datosContacto "(telf,movil,mail)">
<!ELEMENT contacto (nombre,dir,datosCon)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT calle (#PCDATA)>
<!ELEMENT cp (#PCDATA)>
<!ELEMENT ciudad (#PCDATA)>
<!ELEMENT dir (%datosDir;)>
<!ELEMENT telf (#PCDATA)>
<!ELEMENT movil (#PCDATA)>
<!ELEMENT mail (#PCDATA)>
<!ELEMENT datosCon (%datosContacto;)>
